# Extractor: 'corpus' or 'mutation_delta'
# The method used to 'extract' the initial pipeline input.
extractor:
  type: corpus

# Pipeline: processors run in order
# Processors modify or filter the input
# sais: pattern matching based on sa-is algorithm
# filter_null_bytes: removes inputs with too many null bytes
# strip_bytes: removes specified bytes at the start/end of input
# remove_substrings: removes substrings within the input
pipeline:
  - type: sais
    threshold_fn:
      type: interpolated
      max_threshold: 0.014  # at min_len
      min_threshold: 0.01  # at max_len
      curve: 1 # 1.0 is linear, <1.0 = fast initial drop, >1.0 = slow initial drop

  - type: filter_null_bytes
    max_ratio: 0.4

  - type: split_at
    delimiters:
      - [0x00, 0x00, 0x00] # null byte

  - type: strip_bytes
    bytes: [0x00, 0x0A, 0x0D, 0x20]  # null, LF, CR, ' ',

  - type: remove_similar
    threshold: 0.5
    keep_longer: true

  - type: remove_repetitive
    threshold: 0.6

  - type: remove_substrings

# Token discovery settings
min_corpus_size: 500
search_interval: 2000
max_tokens: 10000
max_token_length: 64
min_token_length: 3
search_pool_size: 2500
displayed_tokens: 30

# Fuzzer settings
fuzzer_preset: preserving_tokens
scheduler_preset: fast
timeout_secs: 8
fuzz_loop_for: 1000000

# Paths
corpus_dir: "./corpus"
crashes_dir: "./crashes"