# Main preset
# Options: baseline, standard_tokens, preserving_tokens, standard_tokens_plus, preserving_tokens_plus
fuzzer_preset: preserving_tokens

# Scheduler preset
# Options: fast, explore, exploit, coe, lin, quad
scheduler_preset: fast

# Paths
corpus_dir: "./corpus"
crashes_dir: "./crashes"

# Fuzzer settings
broker_port: 1337
timeout_secs: 8
fuzz_loop_for: 1000000

# Token discovery settings
min_corpus_size: 250
search_interval: 1000
max_tokens: 2500
max_token_length: 64
min_token_length: 4
search_pool_size: 2500

# SAIS settings
strip_bytes: []
max_null_ratio: 0.1
remove_substrings: false

# Strategy configuration
# Options: suffix_array, mutation_delta
# strategy:
#   type: suffix_array
#   passes:
#     - min_length: 12
#       max_length: 64
#       mode: threshold
#       threshold: 0.6


strategy:
  type: mutation_delta